.color-palette-container {
  position: absolute;
  display: grid;
  grid-template-columns: 2rem 2rem 2rem 2rem;
  grid-template-rows: 2rem 2rem 2rem;
  grid-gap: 5px;
  padding: 5px;
  z-index: 10;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  margin: 0.3rem;
}

.color-palette {
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

.color-palette:hover {
  border: 2px solid var(--primary-color);
}
