.note-input-container {
  padding: 1rem;
  position: relative;
  border-radius: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--bg-color);
}

.input-text-section .text {
  width: 100%;
  display: block;
  border: none;
  word-wrap: break-word;
  resize: none;
  outline: none;
  background-color: initial;
}

.input-text-section h6{
  width: 90%;
}

.note-pin {
  border: none;
  background-color: initial;
  font-size: larger;
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  top: 0.2rem;
  right: 0;
  color: inherit;
}

.edit-section-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  font-size: larger;
}

.input-text-section .title {
  height: 2.5rem;
}

.edit-section-container .btn {
  width: auto;
  margin-left: auto;
  padding: 0.3rem 1rem;
}

.label {
  background-color: var(--secondary-light);
  width: fit-content;
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

textarea {
  margin-top: 0.5rem;
}

.label-container {
  margin: auto 0.5rem 0.5rem 0rem;
}

.overlay {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 20;
  background-color: rgba(9, 13, 15, 0.18);
}

.modal {
  left: 50%;
  top: 50%;
  width: 60%;
  position: absolute;
  transform: translate(-50%, -50%);
}

@media screen and (max-width:768px){
  .modal{
    width: 90%;
  }
}