.landingPage-container {
  margin: 2rem;
  border-radius: 4rem;
  display: flex;
  box-shadow: var(--border-shadow);
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.right-section {
  padding: 2.5rem;
  width: 50%;
  height: 100%;
}

.left-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 4rem;
  width: 50%;
  margin: 2.5rem;
}

@media screen and (max-width:880px){
  .landingPage-container {
    flex-direction: column;
  }
  .right-section {
    padding: 0 4.5rem 5rem 5rem;
    width: 100%;
  }
  
  .left-section {
    padding: 1rem 2rem 0 4rem; 
    width: 100%;
    margin: 2.5rem 0;
  }
}