:root {
  --border-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
::-webkit-scrollbar {
  width: var(--size-8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: var(--size-8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}
.btn {
  margin: 0.3rem;
}

.btn-width-large {
  width: 100%;
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  padding: 0.4rem 0.45rem;
}

.icon:hover {
  background-color: var(--secondary-lighter);
}

.header-container {
  z-index: 10;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 40%;
}

.py-32 .btn {
  width: auto;
}

.dark-mode-icon {
  width: 2.8rem;
  cursor: pointer;
}
