:root {
  --border-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
::-webkit-scrollbar {
  width: var(--size-8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: var(--size-8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark);
}
.btn {
  margin: 0.3rem;
}

.btn-width-large {
  width: 100%;
}

i {
  cursor: pointer;
}

.header-container {
  z-index: 10;
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 40%;
}

.py-32 .btn {
  width: auto;
}
