.display-conatiner {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 1fr;
  grid-template-areas: "sideNav main main main";
}

.grid-item-note {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.main-content-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 91vh;
  overflow-y: scroll;
  padding: 1.5rem 0;
}

.notes-keeping-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem 1.5rem;
  margin: 1rem;
  align-items: stretch;
}
