.display-conatiner {
  display: grid;
  grid-template-columns: 7rem 1fr;
  grid-template-areas: "sidebar main";
  gap: 1rem;
}

.grid-item-note {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.main-content-container {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 91vh;
  overflow-y: scroll;
  padding: 1.5rem 0;
}

.notes-keeping-area {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(18rem,1fr));
  grid-gap: 2rem 1.5rem;
  margin: 1rem 1rem 3rem 1rem;
  align-items: stretch;
}

.input-title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
}

@media screen and (max-width:768px){
  .display-conatiner {
    grid-template-columns: 1fr;
    grid-template-areas: " main";
  }
}